.auth-p {
    width: 100%;
    padding-bottom: 30px;

    &__container {
        width: 100%;
    }

    &__hero-section {
        width: 100%;
        min-height: 720px;
        background-image: url("./images/hero-bg.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
    }

    &__hero-section-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding: 30px 60px;
    }

    &__hero-content {
        max-width: 70%;
    }

    &__hero-title {
        color: #062155;
        font-size: 44px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 10px;

        em {
            color: var(--green-color);
            font-style: italic;
            font-weight: 400;
        }
    }

    &__hero-desc {
        color: #586474;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0.16px;
        margin-top: 10px;
    }

    &__benifits-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        margin-top: 20px;
        box-shadow: 0px 4px 12px 0px #4F4F4F29;
        border-radius: 12px;
        padding: 10px 10px;
    }

    &__benifits-block {
        width: 100%;
        min-width: 0;
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;

        &::after {
            content: "";
            height: 40px;
            width: 3px;
            background: #E3E8EE;
            border-radius: 60px;
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
        }

        &:last-child {
            &::after {
                display: none;
            }
        }
    }

    &__benifit-icon {
        width: 40px;
        height: 40px;
        min-height: 40px;
        max-height: 40px;
        min-width: 40px;
        max-width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffffff;
        border: 1px solid var(--Stroke, #E3E8EE);
        border-radius: 50%;

        .icon {
            font-size: 20px;

            &.compare {
                color: #062155;
            }

            &.prices {
                color: #01B637;
            }

            &.tax {
                color: #1F6DD8;
            }

            &.claims {
                color: #FF5E00;
            }

            &.secure {
                color: #43AE73;
            }
        }


    }

    &__benifit-summary {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    &__benifit-title {
        font-weight: 500;
        font-style: Bold;
        font-size: 15px;
        line-height: 120%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: var(--text-dark);
    }

    &__benifit-desc {
        font-weight: 400;
        font-size: 9px;
        vertical-align: middle;
        color: var(--text-dark);
        text-wrap: nowrap;
        margin-top: 5px;
    }

    &__bottom-grid {
        width: 90%;
        margin: auto;
        box-shadow: 0px 4px 12px 0px #4F4F4F29;
        background: #ffffff;
        border-radius: 12px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        padding: 16px;
        margin-top: 20px;
    }

    &__feature-block {
        width: 100%;
        min-width: 0;
        display: flex;
        align-items: center;
        gap: 14px;
        position: relative;

        &::after {
            content: "";
            height: 70px;
            width: 2px;
            background: #E3E8EE;
            border-radius: 60px;
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
        }

        &:last-child {
            &::after {
                display: none;
            }
        }
    }

    &__feature-icon {
        width: 40px;
        height: 40px;
        min-width: 40px;
        min-height: 40px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        &.car {
            background: #F0F5FF;

            .icon {
                color: #2563EB;
            }
        }

        &.road {
            background: #EDFFFA;

            .icon {
                color: #01B637;
            }
        }

        &.travel {
            background: #EDE7FC;

            .icon {
                color: #6F34FC;
            }
        }

        &.claims {
            background: #FFF6E8;

            .icon {
                color: #FF5E00;
            }
        }
    }

    &__feature-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #062155;
    }

    &__feature-desc {
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0%;
        vertical-align: middle;
        color: var(--text-dark);
    }
}