
.hp{
    width: 100%;
    &__container{
        width: 100%;
        margin: auto;
    }
}

.hp__header {
    position: relative;
    z-index: 20;
    height: 0;
}

.hp__header + .hp .h-hero {
    padding-top: 60px;
}